@model List<MovieModel>

<form asp-method="post" asp-action="MovieNight">
    <p>Enter a movie title</p>
    <input type="text" name="Title1" />
    <p>Enter a movie title</p>
    <input type="text" name="Title2" />
    <p>Enter a movie title</p>
    <input type="text" name="Title3" />

    <input type="submit" />
</form>

@{
    if (Model != null)
    {
    foreach (MovieModel m in Model)
        {
            <h1>@m.Title</h1>
            <p>@m.Released</p>
            <p>@m.Runtime</p>
            <img src="@m.Poster"></img>
        }
    }
}